@media only screen and (min-width:1400px){
    .container{
        width: 100%!important;
        max-width: 1320px!important;
     }
}
@media (min-width:1200px) {
    .container{
       width: 100%;
       max-width: 1140px;
    }  
}
@media (min-width:992px) {
    .row-5{
        margin: 0px -5px;
    }
    .pdd-5{
        padding: 0px 5px;
    }
    .row-7{
        margin: 7px;
    }
    .pdd-7{
        padding: 7px;
    }
    .col-60{
        width: 64%;
    }
    .col-40{
        width: 36%;
    }
    ul.menu{
        display: flex;
        justify-content: space-between;
        >li:nth-child(2){
            padding-left: 0px;
        }
        >li:nth-last-child(2){
            padding-right: 0px;
        }
     }
}
@media (max-width:767px) {
    .row-mb-5{
        margin: 0px -5px!important;
    }
    .pdd-mb-5{
        padding: 0px 5px !important;
    }
}
.top-header{
    padding: 10px 0px;
    @media (max-width:991px) {
        display: none;
    }
    .click-top{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-height: 64px; 
    }
}
.btn{
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border-radius:40px;
    font-size:16px;
    max-height: 48px;  
    text-transform: uppercase;
    color: var(--color-white);
    font-family: var(--font-primary); 
    &.btn-call{
        background-color: var(--btn-1);
        padding-left: 2px;
        margin-right: 10px;
        font-size: 18px;
    }
    &.btn-regiter{
        background-color:var(--btn-2);
    }
    span{
        display:inline-flex;
        width: 40px;
        height: 40px;
        background-color: var(--color-white);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-right:10px;
        img{
            max-width: 24px; 
            max-height: 24px;
        }
    }
    &:hover{
        color: var(--color-white);
    }
}
.header{
   background-color:var(--color-primary);
}
.logo-mobile{ 
    display: none;
    text-align: center;
    padding:7px 0px;
    @media (max-width:991px) {
        display: block;
        img{
            max-height: 51px;
        }
    }
} 
.menu{
    @media (max-width:991px) {
        padding-top: 20px;
        .logo-menu{
            text-align: center;
            margin-bottom: 20px;
        }
        >li{
            padding: 0px 20px;
            border-bottom: 1px solid var(--color-white);
            &.menu-item{
                a.menu-link{
                    color: var(--color-white);
                    line-height: 57px;
                    width: 75%;
                    display: inline-block;
                    text-transform: uppercase;
                }
            }
        }
    } 
}
.call-mb{
    text-align: center;
    padding-top: 30px ;
    .btn-regiter{
        padding: 7px 20px;
    }
}
#banner{
    @media(max-width:991px) {
        margin-top: 65px;
    }
    picture{
        img{
            width: 100%;
            max-width: 100%;
        }
    }
}
#reason{
    padding: 50px 0px;
    background:url(../img/bg-block-2.jpg) no-repeat;
    background-size: cover;
    .title-reason{
        font-size:45px;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-red);
        margin-bottom: 60px;
        @media(max-width:991px) {
            font-size:29px;
            margin-bottom:40px;
        }
        @media(max-width:570px) {
            font-size:25px;
        }
    }
    .item-reason{
        padding: 25px;
        background:url(../img/bg-item-reason.png) no-repeat;
        background-size: 100% 100%;
        margin-bottom: 60px;
        .line{
            background:url(../img/line.png)no-repeat;
            background-position: right bottom 25px;
        }
        .reason-detail{
            text-align: center;
            .img-reason{
                overflow: hidden;
                border-radius:33px;
            }
            .name-reason{
                font-size: 17px;
                margin: 20px 0px;
                text-align: center;
                a{
                    color: var(--color-white);
                } 
                
            }
            .desc-reason{
                padding:0px 25px;
                font-size: 18px;
                color: var(--color-primary);
                text-align: justify;
                min-height: 175px;
            }
            .number{
                display: flex;
                justify-content: center;
                margin-bottom: -56px;
                .number-item{ 
                    width: 76px;
                    height: 86px;
                    background:url(../img/bg-number-1.png) no-repeat;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 30px; 
                    color: var(--color-white);
                    font-family: var(--font-primary);
                    &.number-item2{
                        background:url(../img/bg-number-2.png) no-repeat;
                        background-size: cover;
                    }
                    &.number-item3{
                        background:url(../img/bg-number-3.png) no-repeat;
                        background-size: cover;
                    }
                }
            } 
        } 
    } 
    .slider-reason{ 
        .reason-detail{  
            position: relative;
                &::after{
                position: absolute;
                content: "";
                top: 0px;
                left: 10px;
                width: 100%;
                height: 100%;
                background: url(../img/line.png)no-repeat;
                background-position: right 0px bottom 30px;  
                z-index: -1;
            } 
            .desc-reason{
                min-height: inherit;
                margin-bottom: 20px;
                @media (max-width:767px){
                    font-size: 16px;
                    padding: 0px 15px;
                }
            }
            .number{ 
                margin-bottom: 20px;
            }
        }
        .owl-nav{
            .owl-next{
                right: -65px;
                @media (max-width:767px) {
                    right:-30px;
                }
            }
            .owl-prev{
                left: -65px;
                @media (max-width:767px) {
                    left:-30px;
                }
            }
        } 
    }
}
#therapy{
    background: url(../img/bg-therapy.jpg) no-repeat;
    background-size: 100% 100%; 
    padding-top: 30px;
    padding-bottom: 40px;
    @media (max-width:991px) {
        background: url(../img/bg-therapy-mb.jpg) no-repeat;
        background-size: 100% 100%;
        padding-top:40px;
    }
    .img-therapy{ 
        img{
            max-width: 100%;
        } 
    }
    .content-therapy{
        margin-top:70px;
        padding: 20px;
        background: url(../img/bg-chua-tri.png)no-repeat;
        background-size: 100% 100%; 
        li{
            background: url(../img/chua/bg-item-therapy.png) no-repeat;
            background-size: 100% 100%;
            padding: 10px 10px 30px 20px;
            margin-bottom: 20px;
            position: relative;
            &::after{
                position: absolute;
                content: "";
                top: -10px;
                left: -4px;
                width: 25px;
                height: 34px;
                background: url(../img/chua/icon.png);
            }
            p{
                font-size: 13px;
                color: var(--color-primary);
                margin-bottom: 0px;
                line-height: 16px;
                text-align: justify;
            }
        }
    }
    @media (max-width:991px) {
        .img-therapy{
            text-align: center;
            img{
                margin-bottom: 30px;
            }
        }  
        .content-therapy{
            max-width: 500px;
            margin: auto;
        }
    }
}
.title-mb{
    img{
        width: 700px; 
        max-width: 100%;
        height: auto;
    }
    text-align: center;
    margin-bottom: 30px;
}
#procedure{
    padding: 35px 0px 30px 0px;
    background: url(../img/bg-procedure.jpg) no-repeat;
    background-size: 100% 100%;
    .title-procedure{
        text-align: center;
        margin-bottom: 10px;
        clear: both;
        img{
            max-width: 100%;
        }
    }
    .box-procedure{
       background-color: #f4f4f4;
       padding: 20px 25px 20px 20px;
       border:5px solid #fff;
       border-radius: 10px;
       margin-top: 10px;
       box-shadow: 0 10px 6px -6px #ccc;
       overflow: hidden; 
       .line-bottom-box{
        width: 100%;
        height: 10px;
        background-color: var(--color-primary);
        border-radius: 10px;
        margin-top: 50px;
       }
       .item-procedure{
            position: relative;
            img{
                max-width: 100%;
            }
            p{
                position: absolute;
                top: 75%;
                left: 15px;
                width:calc(100% - 30px);
                color: var(--color-white);
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                @media (max-width:767px) {
                    bottom: inherit;
                    font-size: 12px;
                    top: 65%;
                }
            } 
       }
       .step{
        position: absolute;
        bottom: -65px;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
            img{
                max-width: 60px;
                height: auto;
            }
        }
        @media (max-width:991px) {
            .item-procedure{
                margin-bottom: 60px;
            }
            .line-bottom{
                position: relative;
                &::after{
                    position: absolute;
                    content: "";
                    width:83%;
                    height: 10px; 
                    background-color: var(--color-primary);
                    bottom: 26px;
                    left:50%;
                    z-index: 1;
                    transform: translate(-50%);
                }
            }
            .step{
                bottom: 25px;
                img{
                    max-width:35px; 
                }
            }
        }
        
    }
}
#license{
    background: url(../img/chua/bg-license.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 40px 0px 60px 0px;
    .title-license{
        text-align: center;
        margin-bottom: 30px;
        img{
            max-width: 100%;
        }
    }
    .box-license{
        background:url(../img/chua/box-license.png)no-repeat;
        background-size: 100% 100%;
        padding: 40px;
        .box-bk{
            margin-bottom: 25px;
            img{
                max-width: 100%;
            }
        }
        .bk-dsc, .box-bk-mb{
            position: relative;  
            img{
                max-width: 100%;
            }
            p{
                position: absolute;
                top: 75%;
                left: 15px;
                width:calc(100% - 30px);
                color: var(--color-white);
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                @media (max-width:767px) {
                    bottom: inherit;
                    font-size: 12px;
                    top: 72%;
                }
            }  
        }
        .box-bk-mb{
            margin-bottom: 15px;
        }
        @media (max-width:767px) {
            padding:10px;
        }
    }
}

#doctor{
    padding: 40px 0px 50px;
    .title-doctor{
        text-align: center;
        margin-bottom: 40px;
        img{
            max-width: 100%;
        }
    }
    .slider-docter{
        .owl-nav{
            .owl-prev{
                left: -60px;
                @media (max-width:991px) {
                    left: 10px;
                }
            }
            .owl-next{
                right: -60px;
                @media (max-width:991px) {
                    right: 10px;
                }
            }
        }
        .owl-dots{
            bottom: -20px; 
            .owl-dot{
                span{
                    width: 50px;
                    height: 7px;
                    color: #dfdfdf;
                } 
                &.active{
                    span{
                        background-color: var(--color-primary);
                    }
                }
            }
            @media (max-width:767px) {
                bottom: -35px; 
                .owl-dot{
                    span{
                        height:5px;
                    }
                }
            }
        }
    }
    .profile{
        position: relative;
        img{
            max-width: 100%;
        }
        .desc{
            position: absolute;
            width:calc(100% - 25px);
            top: 64%;
            left: 15px;
            color: var(--color-white);
            .hvi{
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                padding-right:25px;
                span:last-child{
                    margin-top: -5px;
                    color: var(--color-primary);
                    font-size: 15px;
                }
                
            }
            .name-dtor{
                color: var(--color-white);
                text-transform: uppercase;
                margin-top:5px;
                margin-bottom: 15px;
            }
            .professional{
                li{
                    padding-left: 22px;
                    line-height: 18px;
                    position: relative;
                    font-size: 13px;
                    &::after{
                        position: absolute;
                        content: "";
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: var(--color-white);
                        left: 10px;
                        top: 6px;
                    }
                }
            }
            @media (min-width:768px) and (max-width:991px){
                width: calc(100% - 30px);
                top: 64%;
                left: 20px; 
                .name-dtor{
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                .professional{
                    li{
                        line-height: 24px; 
                        font-size: 14px;
                        &::after{
                            top: 10px;
                        }
                    }
                }
            }
            @media (max-width:767px) {
                width:calc(100% - 15px);
                top: 61%;
                left: 10px;
                .hvi{
                    font-size: 12px;
                    padding-right:5px;
                    span:last-child{
                        margin-top:-2px;
                        font-size: 12px;
                    }
                }
                .name-dtor{
                    margin-top: 0px;
                    margin-bottom: 10px;
                    font-size: 12px;
                }
                .professional{
                    li{
                        padding-left:10px;
                        line-height: 16px;
                        font-size: 9px;
                        text-transform: uppercase;
                        &::after{
                            left:3px;
                        }
                    }
                }
            }
        }
    } 
}
.slider-docter, .slider-facilities, .img-videos{
    .owl-nav{
        .owl-prev{
            left: -60px;
            @media (max-width:991px) {
                left: 10px;
            }
        }
        .owl-next{
            right: -60px;
            @media (max-width:991px) {
                right: 10px;
            }
        }
    }
    .owl-dots{
        bottom: -20px; 
        .owl-dot{
            span{
                width: 50px;
                height: 7px;
                color: #dfdfdf;
            } 
            &.active{
                span{
                    background-color: var(--color-primary);
                }
            }
        }
        @media (max-width:767px) {
            bottom: -35px; 
            .owl-dot{
                span{
                    height:5px;
                }
            }
        }
    }
}
#facilities{ 
    background: url(../img/chua/bg-facilities.jpg);
    background-size: 100% 100%; 
    padding: 40px 0px 40px;
    .title-facilities{ 
        text-align: center; 
        img{
            max-width: 100%;
            width: 450px;
            margin-bottom: 30px;
            @media (max-width:767px){
                width: 270px;
            }
        }
    }
    .img-content{
        img{
            max-width: 100%;
            text-align: center;
            margin-top: 100px;
        } 
        @media (max-width:991px) {
            img{
                margin-top:40px;
            }
        }
    }
    .slider-facilities{
        .item{ 
            .img-main{
                border-radius: 15px;
                overflow: hidden;
                width: 100%;
                margin-bottom: 20px;
                img{
                    max-width: 100%;
                }
            }
            .list-sub{
                display: flex;
                .img-sub{
                    width:50%;
                    border-radius: 15px;
                    overflow: hidden;
                    img{
                        max-width: 100%;
                    }
                    &:first-child{
                        padding-right:10px;
                    }
                    &:last-child{
                        padding-left: 10px;
                    }
                }
            } 
        }
    }
    @media (max-width:991px) {
        background:var(--color-white); 
    }
}
#result{
    background: url(../img/chua/bg-kqua.jpg);
    background-size: 100% 100%;
    padding: 40px 0px 60px;
    .title-result{
        text-align: center;
        margin-bottom: 35px;
        img{
            max-width: 100%;
        }
    }
    .btn-lable{ 
        padding-left: 63px;
        position: relative;
        width: 246px;
        height: 56px;
        display: flex;
        align-items: center; 
        font-size: 34px;
        min-height: unset; 
        border: 2px solid; 
        border-radius: 15px;
        color: var(--color-white);
        text-align: center; 
        &.lable-tv{
            background: linear-gradient(0deg, #FF0000, #FFA500);
            background-size: 137% auto;
            border-color: #F69022;
            margin-bottom: 25px;
            margin-left: 35px; 
            border-color:#FFA500; 
            &::before {
                content: '';
                width: 41px;
                height: 38px;
                background: url(../img/chua/icon-tv.png) center center / contain no-repeat;
                position: absolute;
                left: 9px;
            }
        }
        &.lable-videos{
            &::before {
                content: '';
                width: 41px;
                height: 38px;
                background: url(../img/chua/icon-video.png) center center / contain no-repeat;
                position: absolute;
                left: 9px;
            }
        }
    }
    .img-videos{ 
        background: url(../img/chua/khung-kqua.png) no-repeat;
        background-size: 100% 100%;
        padding: 35px 35px 55px 35px;
        .before-affter, .videos-kq{
            img{
                width: 100%;
            }
        }
        .before-affter{
            .name-customer{
                background: url(../img/chua/bg-name-customer.png) no-repeat;
                background-size: 100% 100%;
                max-width: 435px;
                text-align: left;
                margin: auto;
                min-height: 85px;
                margin-top: 50px;
                font-size: 22px;
                color: var(--color-white);
                padding: 10px 10px 10px 20px;
                line-height:30px;
            }
        }
        .modal-dialog{ 
            background: var(--color-white);
            padding: 15px;
            margin-top: 15%;
            border-radius: 5px;
            .close{
                margin-top: -23px;
                margin-right: -20px;
                width: 30px;
                height: 30px;
                border: 2px solid #000;
                display: inline-block;
                box-sizing: border-box;
                border-radius: 50%;
                background: var(--color-white);
                opacity: 1;
                position: absolute;
                top: 20px;
                right: 15px; 
            }
        } 
        .owl-dots{
            bottom: -40px;
        }
    } 
    @media (max-width:991px) {
        background: url(../img/chua/bg-tv-mb.jpg);
        .title-result{ 
            margin-bottom: 10px;
            img{
                max-width: 95%;
            }
        }
        .img-videos{
            .before-affter{
                background: url(../img/chua/khung-kq-mb.png)no-repeat;
                padding:10px 10px 15px 20px;

                .name-customer{
                    max-width: 254px; 
                    font-size: 14px;
                    max-width: 254px;  
                    line-height: 22px;  
                    min-height: auto;
                    margin-top: 10px;
                    margin-bottom: 30px;
                }
            } 
            background:none;
            padding: 10px;
        }
        .btn-lable{
            font-size:16px;
            width:115px;
            padding-left: 22px;
            border-radius: 7px;
            height: auto;
            &.lable-tv, &.lable-videos{
                left: 50%;
                transform: translate(-50%);
                margin-bottom: 10px;
                &::before{
                    width: 21px;
                    height: 21px;
                    left: 5px;
                    top: 2px;
                }
            }
            &.lable-tv{
                margin-left: 0px;
            }
        }
        .modal-dialog{
            padding-top: 25%;
        } 
    }
}
#news{

}
footer{
    padding: 70px 0px 100px 0px;
    background-color: var(--color-primary);
    .social-f{
        margin-top:30px;
        display: flex;
        li{
            margin-right:10px;
            a{
                img{
                    max-width: 45px;
                    height: auto;
                }
            }
        }
    }
    .title-f, .sub-title{
        font-size: 35px;
        text-transform: uppercase;
        color: var(--color-white);
    }
    .title-f{
        margin-bottom:10px;
    }
    .sub-title{
        font-size: 25px; 
        margin-bottom: 50px;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--color-white);
    }
    .box-f{
        margin-bottom: 40px;
        .title-box-f{
            color: var(--color-white);
            img{
                margin-right: 15px;
                margin-top: -5px;
            }
        }
        .desc-box-f{
            margin-top: 20px;
            p{
                color: var(--color-white); 
                font-family: var(--font-sub);
            }
        }
    }
}

